/* reset */
body {
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

p {
    font-family: "Noto Sans KR", sans-serif;
    margin: unset;
    color: #999;
    font-size: 16px;
    line-height: 1.6;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body_wrapper {
    max-width: 1200px;
    position: relative;
    background-color: #111;
}


/* margin */

.mb40 {
    margin-bottom: 40px;
}

.ml-20 {
    margin-left: -20px;
}


/* content */
body {
    background-color: #1E1E1E;
}

.main-cover {
    padding-bottom: 56.25%;
    background-image: url(images/cover.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.main-cover::after {
    content: "";
    display: block;
    background: linear-gradient(to top, #111, rgba(0, 0, 0, 0));
    height: 35.5%;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.wrapper {
    position: relative;
    padding: 60px;
    display: flex;
    margin-top: -180px;
    gap: 100px;
    flex-wrap: wrap;
}

main {
    flex-basis: 460px;
    flex-grow: 1;
    flex-shrink: 1;
}

main .header {
    color: #fff;
}

.label-red {
    background-color: #ff2e00;
    display: inline-block;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

main .header h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 26px;
}

.side_bar {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 50px;
    margin-right: 40px;
    color: #fff;
}

.side_bar h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.side_content {
    display: flex;
    gap: 4px;
    width: 240px;
    flex-wrap: wrap;
}

.side_content .genre {
    color: #aaa;
    font-size: 14px;
    background-color: #222;
    line-height: 1.6;
    padding: 0 14px;
    border-radius: 10px;
}

.side_content .cast {
    box-sizing: border-box;
    width: 64px;
    border: 6px solid #111;
    border-radius: 50%;
}

.side_content.ratings {
    gap: 0px;
    position: relative;
    display: flex;
    height: 48px;
}

.side_content.ratings::before {
    content: "";
    width: 144px;
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-size: 240px 96px;
    background-position: 0 -48px;
}

.side_content.ratings::after {
    content: "";
    width: 96px; 
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-size: 240px 96px;
    background-position: 0 0;
}
