/* reset */
body {
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

p {
    font-family: "Noto Sans KR", sans-serif;
    margin: unset;
    color: #999;
    font-size: 16px;
    line-height: 1.6;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body_wrapper {
    width: 1200px;
    position: relative;
    background-color: #111;
}
/* content */
body {
    background-color: #1E1E1E;
}

.main-cover {
    min-height: 676px;
    background-image: url(images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.gradation {
    background: linear-gradient(to top, #111, rgba(0, 0, 0, 0));
    min-height: 240px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.wrapper {
    position: relative;
    padding: 60px;
    display: flex;
    margin-top: -180px;
}

main .header {
    color: #fff;
}

.label-red {
    background-color: #ff2e00;
    display: inline-block;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

main .header h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 26px;
}

main article {
    width: 700px;
}

aside {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 40px;
    color: #fff;
}

aside h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.side_content {
    display: flex;
    gap: 4px;
    width: 240px;
    flex-wrap: wrap;
}

.side_content .genre {
    color: #aaa;
    font-size: 14px;
    background-color: #222;
    line-height: 1.6;
    padding: 0 14px;
    border-radius: 10px;
}

.side_content .cast {
    box-sizing: border-box;
    width: 64px;
    border: 6px solid #111;
    border-radius: 50%;
}

.side_content.ratings {
    gap: 0px;
}

.star {
    width: 48px;
    height: 48px;
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-position: 0 -48px;
    background-size: 240px 96px;
}

.star.empty {
    background-position: 0px 0px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml-20 {
    margin-left: -20px;
}

@media (max-width: 700px) {
    .body_wrapper {
        width: 700px;
    }
    
    .wrapper {
        flex-direction: column;
        margin-top: -116px;
        padding: 40px;
    }

    .gradation {
        min-height: 146px;
    }

    .main-cover {
        min-height: 390px;
    }

    aside {
        margin-left: 0;
    }
}
