/* resets */
body {
    margin: unset;
    font-family: "Montserrat", sans-serif;
}

h1,
h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

p {
    margin: unset;
}

button {
    /* height: unset; */
    padding: unset;
    border: unset;
}

/* layouts */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/background.png);
}

.wrapper {
    width: 1076px;
    margin: 0 auto;
    display: flex;
}

/* contents */
.header {
    width: 244px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/sidebar-background.png);
    background-size: cover;
    background-position: center;
}

.header_wrapper {
    padding: 16px;
}

.header_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: bold;
}

.icon-coffee {
    display: inline-block;
    width: 80px;
}

.header_header h1 {
    font-size: 24px;
    color: #fff;
    border-bottom: 5px solid #444;
}

.header_content {
    font-size: 14px;
    color: #999999;
    margin-bottom: 26px;
}

.header_button {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.18em;
    border-radius: 2px;
    min-height: 22px;
    margin-bottom: 6px;
    font-weight: bold;
}

.location {
    color: #fff;
    background-color: #0468ff;
    margin-bottom: 6px;
}

.share {
    color: #000;
    background-color: #d9d9d9;
}

.main {
    background-color: #fff;
    padding: 16px;
    color: #666;
}

.main_wrapper {
    width: 800px;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 8px solid #eee;
}

.main_header h2 {
    font-size: 24px;
    font-weight: bold;
}

.view_all {
    font-size: 10px;
    background-color: #eee;
    border-radius: 15px;
    line-height: 1.8;
    font-weight: bold;
    color: #666;
    padding: 0 10px;
    margin-top: 4px;
}

.main_content {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 30px;
    color: #333;
}

.main_content article {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 60px;
    color: #333;
    padding: 16px;
    background-color: #eee;
    border-radius: 6px;
}

.main_content p {
    /* margin-bottom: 20px; */
}

.main_content span {
    margin-left: auto;
    color: #111;
}

.main_cover {
    width: 120px;
}
