body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    border-radius: 30px;
    width: 448px;
    box-shadow: 0px 3px 3px #888;
}

#header {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 44px 0;
    border-bottom: 4px solid #ddd;
}

h1 {
    position: relative;
    color: #ff007a;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 31px;
}

h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: #ff007a;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 38px;
    border-radius: 0 0 30px 30px;
    background-color: #eee;
    gap: 14px;
}

li {
    width: 100%;
    list-style: none;
    border-radius: 10px;
    font-size: 18px;
    border: 4px solid #ddd;
    padding: 14px 50px 14px 14px;
    box-sizing: border-box;
    color: #888888;
    background-color: #fff;
}

li:hover {
    width: calc(100% + 20px);
    border-color: #759cff;
    color: #759cff;
    font-weight: bold;
    background-image: url("./images/check.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) center;
}
