body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    border-radius: 30px;
    min-width: 448px;
    box-shadow: 0px 5px 3px #888888;
}

#header {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 46px 0;
    border-bottom: 2px solid #ddd;
}

h1 {
    color: #ff007a;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 31px;
    /* padding: 20px 0 0 31px;
    line-height: 32px;
    background-color: #fff; */
    border-left: 8px solid #ff007a;
}

ul {
    margin: 0;
    border-radius: 0 0 30px 30px;
    background-color: #eee;
}

li {
    border-radius: 10px;
    /* margin-top: 10px; */
    border: 3px solid #ddd;
    /* padding: 10px 0; */
}
