/* reset */
body {
  margin: unset;
}

h1,
h2,
h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

p {
  margin: unset;
}

ul {
  list-style: none;
  margin: unset;
  padding: unset;
}

/* layout */
.wrapper {
  display: flex;
  justify-content: center;
}

.inner-wrapper {
  max-width: 1080px;
  padding: 92px 20px 100px;
}

/* margin */
.mt20 {
  margin-top: 20px;
}

.mln12 {
  margin-left: -12px;
}

/* content */
body {
  font-family: "Montserrat", sans-serif;
}

.purple {
  background-color: #6230a2;
}

.beige {
  background-color: #fff5ed;
}

.header {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.header h1 {
  font-size: 40px;
  width: 258px;
  color: #fff;
  line-height: 1.1;
}

.header span {
  font-weight: bold;
  background: linear-gradient(
    to bottom,
    transparent calc(100% - 26px),
    #ff4500 0
  );
}

.header_content {
  display: flex;
  font-size: 14px;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
  color: #c89dff;
}

.header_content p {
  width: 460px;
}

.header_content::before {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  border-bottom: 1px solid #c89dff;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: flex-start; */
}

.content_header {
  max-width: 280px;
  overflow: hidden;
  position: relative;
  font-size: 32px;
  color: #fff;
  /* z-index: 0; */
}

.content_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_header::after {
  content: "";
  position: absolute;
  width: 280px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #6230a280;
}

.content_header h2 {
  position: absolute;
  max-width: 80%;
  white-space: normal;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.content_article {
  flex-grow: 1;
  background-color: #fff;
  color: #6230a2;
  padding: 16px 21px 21px 21px;
  box-sizing: border-box;
}

.content_article h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 14px;
}

.content_article ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.content_article li {
  max-width: 700px;
  display: flex;
  gap: 14px;
  font-weight: normal;
  font-size: 14px;
  color: #111;
  align-items: center;
}

.content_article li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #c89dff;
  border-radius: 50%;
  flex-shrink: 0;
}

/* media */
@media (max-width: 610px) {
  .content_header {
    max-width: 556px;
  }

  .content_header::after {
    content: "";
    position: absolute;
    width: 556px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #6230a280;
  }
}
